body {
  background-image: url(https://th.bing.com/th/id/R.5081aa895140daefdec4441d88a62757?rik=Xpnmhbe%2f299%2bqg&pid=ImgRaw&r=0);
  background-size: cover;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}
